body {
  background-color: #212922;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.375rem;
}

input {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

button {
  display: block;
}
